Checks: "clang-analyzer-*,
         cppcoreguidelines-*,
         misc-*,
         modernize-*,
         performance-*,
         portability-*,
         readability-*,
         -cppcoreguidelines-avoid-c-arrays,
         -cppcoreguidelines-avoid-magic-numbers,
         -cppcoreguidelines-avoid-non-const-global-variables,
         -cppcoreguidelines-macro-usage,
         -cppcoreguidelines-non-private-member-variables-in-classes,
         -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
         -cppcoreguidelines-pro-bounds-constant-array-index,
         -cppcoreguidelines-pro-bounds-pointer-arithmetic,
         -cppcoreguidelines-pro-type-const-cast,
         -cppcoreguidelines-pro-type-reinterpret-cast,
         -cppcoreguidelines-pro-type-union-access,
         -cppcoreguidelines-pro-type-vararg,
         -misc-non-private-member-variables-in-classes,
         -misc-no-recursion,
         -modernize-avoid-c-arrays,
         -modernize-concat-nested-namespaces,
         -modernize-raw-string-literal,
         -performance-no-int-to-ptr,
         -readability-function-cognitive-complexity,
         -readability-implicit-bool-conversion,
         -readability-magic-numbers,
         -readability-named-parameter,
         -readability-qualified-auto,
         -readability-suspicious-call-argument,
         -readability-uppercase-literal-suffix"
WarningsAsErrors: "*"
HeaderFilterRegex: "src/"
