.vs/
.vscode/
build*/
bin*/
Testing/
CMakeLists.txt.user*
*.autosave
*.creator
*.creator.user*
\#*\#
.\#*
*~

TODO.txt
af2/cfg/cl_config.cfg
af2/cfg/config.cfg
af2/cfg/meta_sv_config.cfg
af2/cfg/sv_config.cfg
af2/fonts/
af2/logs/
af2/screenshots/
af2/sounds/
